@font-face {
  font-family: "Damn";
  src: url("/fonts/DAMN.ttf");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas-container canvas {
  max-width: 100%;
  max-height: 300px;
  padding: 0 1rem;
  object-fit: contain;
  object-position: center;
}

.custom-input {
  width: 150px;
  color: transparent;
}

.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-input::before {
  width: 150px;
  text-align: center;
  padding: 1rem;
  content: "Choose Image";
  display: inline-block;
  background: white;
  color: black;
  border: 1px solid black;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}

@media screen and (max-height: 667px) and (max-width: 768px) {
  .canvas-container canvas {
    max-height: 250px;
  }
}

@media screen and (min-width: 768px) {
  .canvas-container canvas {
    max-width: 600px;
    max-height: 500px;
    padding: 0;
  }
}

@media screen and (max-height: 900px) and (min-width: 768px) {
  .canvas-container canvas {
    max-height: 400px;
    margin-bottom: 4rem;
  }
}

@media screen and (max-height: 750px) and (min-width: 768px) {
  .canvas-container canvas {
    max-height: 300px;
  }
  .bench {
    width: 12rem !important;
  }
}
